* {
  margin: 0;
  padding: 0;
}
.aside {
  width: 296px;
  background-color: #fff;
  height: 100vh;
}
.aside-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.user-mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
.user {
  color: #b8bfcc;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}
.power-icon {
  color: #3b82f6;
  height: 20px;
  width: 20px;
}
.aside-nav {
  padding: 20px;
  margin-top: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #98a2b2;
}
.icon {
  color: #3b82f6;
}
.nav-text {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.nav-text2 {
  background-color: #37aa491a;
  border-radius: 58px;
  height: 40px;
}
.outline-icon {
  height: 16px;
  width: 16px;
  color: #3b82f6;
  margin-right: 20px;
}
.user-icon {
  height: 16px;
  width: 22px;
  color: #3b82f6;
  margin-right: 20px;
}
.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #1f2633;
  text-decoration: none;
}
